<h2>パスワード変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :"新しいパスワード" %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <%= f.label :"新しいパスワードの確認" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field form-group">
    <%= f.label :"既存のパスワード" %> <i>（変更するには既存のパスワードが必要です）</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード変更", class: "btn btn-success" %>
  </div>
<% end %>
<br>
<%= link_to "戻る", :back %>
