<% provide(:title, "登録情報編集") %>
<h2>登録情報編集</h2>

<%= form_for(@customer, html: {class: "form-horizontal"}, url: customer_path, method: :PUT) do |f| %>

<% if @customer.errors.any? %>
<div id="error_explanation">
  <h3><%= @customer.errors.count %>件のエラーが発生しました</h3>
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group row">
  <%= f.label :"名前", class: "col-xs-12 col-sm-12 col-form-label" %>
  <%= f.label :"（姓）", class: "col-xs-3 col-sm-3 col-form-label" %>
  <div class="col-xs-7 col-sm-2">
    <%= f.text_field :last_name, autofocus: true, placeholder: "（姓）", class: "form-control" %>
  </div>

  <%= f.label :"（名）", class: "col-xs-3 col-sm-2 col-form-label" %>
  <div class="col-xs-7 col-sm-2">
    <%= f.text_field :first_name, autofocus: true, placeholder: "（名）", class: "form-control" %>
  </div>
</div>

<div class="form-group row mypage-editname">
  <%= f.label :"フリガナ", class: "col-xs-12 col-sm-12 col-form-label" %>
  <%= f.label :"（セイ）", class: "col-xs-3 col-sm-3 col-form-label" %>
  <div class="col-xs-7 col-sm-2">
    <%= f.text_field :last_name_kana, autofocus: true, placeholder: "（セイ）", class: "form-control" %>
  </div>

  <%= f.label :"（メイ）", class: "col-xs-3 col-sm-2 col-form-label" %>
  <div class="col-xs-7 col-sm-2">
    <%= f.text_field :first_name_kana, autofocus: true, placeholder: "（メイ）", class: "form-control" %>
  </div>
</div>


<div class="form-group row">
  <%= f.label :"メールアドレス", class: "col-xs-12 col-sm-3 col-form-label" %>
  <div class="col-xs-10 col-sm-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :"郵便番号（ハイフンなし）", class: "col-xs-12 col-sm-3 col-form-label" %>
  <div class="col-xs-6 col-sm-4">
    <%= f.text_field :postal_code, autofocus: true, placeholder: "郵便番号", class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :"住所", class: "col-xs-12 col-sm-3 col-form-label" %>
  <div class="col-xs-10 col-sm-4">
    <%= f.text_field :address, autofocus: true, placeholder: "住所", class: "form-control" %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :"電話番号（ハイフンなし）", class: "col-xs-12 col-sm-3 col-form-label" %>
  <div class="col-xs-6 col-sm-4">
    <%= f.text_field :phone_number, autofocus: true, placeholder: "電話番号", class: "form-control" %>
  </div>
</div>

<div class="actions text-center col-sm-offset-7">
  <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
  <%= link_to "退会する", quit_customers_path, class: "btn btn-danger col-xs-offset-2" %>
</div>
<% end %>


