<h2>登録情報編集</h2>

<%= form_for(@customer, html: {class: "form-horizontal"}, url: customer_path, method: :PUT) do |f| %>

<% if @customer.errors.any? %>
<div id="error_explanation">
  <h3><%= @customer.errors.count %>件のエラーが発生しました</h3>
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-xs-9">
  <div class="form-group">
    <%= f.label :"名前", class: "col-xs-3" %>
    <%= f.label :"(姓)" %>
    <%= f.text_field :last_name %>
    <%= f.label :"(名)" %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :"フリガナ", class: "col-xs-3" %>
    <%= f.label :"(セイ)" %>
    <%= f.text_field :last_name_kana %>
    <%= f.label :"(メイ)" %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="form-group">
    <%= f.label :"メールアドレス", class: "col-xs-3" %>
    <%= f.email_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :"郵便番号（ハイフンなし）", class: "col-xs-3" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="form-group">
    <%= f.label :"住所", class: "col-xs-3" %>
    <%= f.text_field :address, :size => "70" %>
  </div>

  <div class="form-group">
    <%= f.label :"電話番号（ハイフンなし）", class: "col-xs-3" %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>
    <%= link_to "退会する", quit_customers_path, class: "btn btn-danger" %>
  </div>
<% end %>
</div>
<div class="col-xs-3"></div>