<% provide(:title, "マイページ") %>
<div id="error_explanation">
  <%= flash[:alert] %>
</div>

<h2>マイページ</h2>
<div class="row">
  <div class="co-xs-12 col-sm-7">
    <p>
      <strong class="col-sm-2">登録情報</strong>
      <%= link_to "編集する", customer_edit_path, class: "btn btn-primary" %>
      <%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-primary" %>
    </p>

    <div class="">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="active col-xs-3 col-sm-4">氏名</td>
            <td class="col-xs-"><%= full_name(@customer) %></td>
          </tr>

          <tr>
            <td class="active">カナ</td>
            <td class=""><%= full_name_kana(@customer) %></td>
          </tr>

          <tr>
            <td class="active">郵便番号</td>
            <td class=""><%= @customer.postal_code %></td>
          </tr>

          <tr>
            <td class="active">住所</td>
            <td><%= @customer.address %></td>
          </tr>

          <tr>
            <td class="active ">電話番号</td>
            <td class=""><%= @customer.phone_number %></td>
          </tr>

          <tr>
            <td class="active">メールアドレス</td>
            <td class=""><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-5">
      <p>
        <strong class="col-xs-4">配送先</strong>
        <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
      </p>

      <p>
        <strong class="col-xs-4">注文履歴</strong>
        <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
      </p>
  </div>
</div>