<div id="error_explanation">
  <%= flash[:alert] %>
</div>

<h2>マイページ</h2>
<p>
  <strong>登録情報</strong>
  <%= link_to "編集する", customer_edit_path, class: "btn btn-primary" %>
  <%= link_to "パスワードを変更する", edit_customer_registration_path, class: "btn btn-primary" %>
</p>

<div class="col-xs-7">
<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="active col-xs-2">氏名</td>
      <td class="col-xs-5"><%= full_name(@customer) %></td>
    </tr>
    <tr>
      <td class="active col-xs-2">カナ</td>
      <td class="col-xs-5"><%= full_name_kana(@customer) %></td>
    </tr>
    <tr>
      <td class="active col-xs-2">郵便番号</td>
      <td class="col-xs-5"><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <td class="active col-xs-2">住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td class="active col-xs-2">電話番号</td>
      <td class="col-xs-5"><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <td class="active col-xs-2">メールアドレス</td>
      <td class="col-xs-5"><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-xs-5"></div>
<div class="col-xs-12">
  <p>
    <strong class="col-xs-1">配送先</strong>
    <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
  </p>
  <p>
    <strong class="col-xs-1">注文履歴</strong>
    <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
  </p>
</div>