<div class="col-xs-2">
	<%= render 'layouts/genre_search', genres: @genres %>
</div>
<div class="col-xs-10">
	<div>
		<p>
			ようこそ、NaganoCakeへ！<br>
			このサイトは、ケーキ販売のECサイトになります。<br>
			会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。
		</p>
	</div>
	<div class="clearfix">
		<h2>オススメ商品</h2>
		<div>
			<% @random.each do |items| %>
			<div class="col-xs-2">
				<div>
					<%= attachment_image_tag(items,:image, :fill, 100,100) %>
				</div>
				<div>
					<%= link_to items.name, item_path(items.id) %>
				</div>

				<div>
					<%= items.price %>
				</div>
			</div>
			<% end %>
		</div>
		<!-- 商品一覧ページへリンクします -->
		<div><%= link_to "もっと見る", items_path %></div>
	</div>