<div>
	<div>
		<table class="table table-borderless">
		  <tr><th>ジャンル</th></tr>
		  <!-- ジャンルのページ完成後リンク先を追加 -->
		  <tr><th><%= link_to "ケーキ", "#" %> </th></tr>
		  <tr><th><%= link_to "焼き菓子", "#" %> </th></tr>
		  <tr><th><%= link_to "プリン", "#" %> </th></tr>
		  <tr><th><%= link_to "キャンディ", "#" %> </th></tr>
		</table>
	</div>
	<div>
		<p>ようこそ、NaganoCakeへ！
			このサイトは、ケーキ販売のECサイトになります。<br>
			会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。</p>
	</div>
	<div>
		<h3>オススメ商品</h3>
			<div>
				<span>写真</span>
				<p>商品名1</p>
				<p>値段</p>
			</div>
			<div>
				<span>写真</span>
				<p>商品名2</p>
				<p>値段</p>
			</div>
			<div>
				<span>写真</span>
				<p>商品名2</p>
				<p>値段</p>
			</div>
		<!-- もっと見るで商品一覧ページを表示 -->
		<p><%= link_to "もっと見る>", "#" %></p>
	</div>
</div>