<div class="col-xs-3">
	<table class="table ">
		<h3>ジャンル検索</h3>
		<tbody>
			<!-- 					ジャンルごとの一覧ページへリンクします -->
			<tr><td><%= link_to "ケーキ", "#" %></td></tr>
			<tr><td><%= link_to "焼き菓子", "#" %></td></tr>
			<tr><td><%= link_to "プリン", "#" %></td></tr>
			<tr><td><%= link_to "キャンディ", "#" %></td></tr>
		</tbody>
	</table>
</div>
<div class="col-xs-9">
	<div>
		<p>
			ようこそ、NaganoCakeへ！<br>
			このサイトは、ケーキ販売のECサイトになります。<br>
			会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。
		</p>
	</div>
	<div class="clearfix">
		<h2>オススメ商品</h2>
		<div>
			<% @random.each do |items| %>
			<div class="col-xs-2">
				<div>
					<%= attachment_image_tag(items,:image, :fill, 100,100) %>
				</div>
				<div>
					<%= link_to items.name, item_path(items.id) %>
				</div>

				<div>
					<%= items.price %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<!-- 商品一覧ページへリンクします -->
	<div><%= link_to "もっと見る", items_path %></div>
</div>