<h1>注文情報確認</h1>
<div class="row">
    <div class="col-9">
		<table>
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart| %>
				<tr>
					<td>
						<%= attachment_image_tag cart.item, :item_image, :fill, 50, 50 %>
						<%= cart_items.item.name %>
					</td>
					<td><%= taxprice(item.price) %></td>
					<td><%= cart_item.amount %></td>
					<td><%= sub_total(cart_items) %></td>
				</tr>
				<% end %>
			</tbody>
		<table>
 	<div class="col-3">
			<tbody>
				<tr>
					<td>送料</td>
					<td><%= @order.postage %></td>
				</tr>
				<tr>
					<td>商品合計</td>
					<td><%= total_price(@cart_items)%></td>
				</tr>
				<tr>
					<td>請求金額</td>
					<td><%= billing(@order) %></td>
				</tr>
			</tbody>
		</table>
	</div>

		<h3>支払い方法</h3>
		 <%= @order.payment_method %>

		<p>お届け先</p>
		<%= @order.address %>
		<%= form_for @order, url:orders_path do |f| %>
		<%= f.hidden_field :billing_amount %>
		<%= f.hidden_field :address %>
		<%= f.hidden_field :address_name %>
		<%= f.hidden_field :payment_method %>
		<%= f.hidden_field :postal_code %>
        <%= f.submit "購入を確定する", class: "btn btn-success" %>
        <% end %>

