<% provide(:title, "注文情報確認") %>

<h1>注文情報確認</h1>
<div class="row">
	<div class="col-xs-8">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>商品名</th>
					<th class="text-right">単価(税込)</th>
					<th class="text-right">数量</th>
					<th class="text-right">小計</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
				<tr>
					<td>
						<%= attachment_image_tag cart_item.item, :image, :fill, 50, 50 %>
						<%= cart_item.item.name %>
					</td>
					<td class="text-right"><%= tax_price(cart_item.item.price) %>円</td>
					<td class="text-right"><%= cart_item.amount %></td>
					<td class="text-right"><%= sub_total(cart_item) %>円</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-xs-4">
			<table class="table table-bordered">
				<tr>
					<th>送料</th>
					<td class="text-right"><%= @order.postage %>円</td>
				</tr>
				<tr>
					<th>商品合計</th>
					<td class="text-right"><%= total_price(@cart_items) %>円</td>
				</tr>
				<tr>
					<th>請求金額</th>
					<td class="text-right"><%= billing(@order) %>円</td>
				</tr>
			</table>
	</div>
</div>
<div>
	<table class="table table-bordered">
		<tr>
			<th>支払方法</th>
			<td><%= @order.payment_method_i18n %></td>
		</tr>
		<tr>
			<th>お届け先</th>
			<td><%= "#{@order.postal_code} #{@order.address} #{@order.address_name}" %></td>
		</tr>
	</table>
		<%= form_for @order, url:orders_path do |f| %>
			<%= f.hidden_field :billing_amount %>
			<%= f.hidden_field :address %>
			<%= f.hidden_field :address_name %>
			<%= f.hidden_field :payment_method %>
			<%= f.hidden_field :postal_code %>
			<%= f.submit "購入を確定する", class: "btn btn-success btn-lg pull-right" %>
		<% end %>
</div>
