<h1>注文情報入力</h1>
	<h2>支払方法</h2>
		<%= form_for @order, url: orders_path, class: "form-inline" do |f| %>
		<%= f.radio_button :payment_method, :true %>
		<%= f.label :payment_method, "クレジットカード", {value: :true, style: "display: inline-block;"} %>
		<%= f.radio_button :payment_method, :false %>
		<%= f.label :payment_method, "銀行振込", {value: :false, style: "display: inline-block;"} %>

	<h2>お届け先</h2>
		<%= f.radio_button :shipping_address,"customer_address" %>
		<%= f.label :shipping_address,"ご自身の住所" %>
		<%= current_customer.address %>

		<%= f.radio_button :shipping_address,"address" %>
		<%= f.label :address,"登録住所から選択"%>
		<%= f.collection_select :address, @addresses, :id, :address_name %>

    <div>
		<%= form_for @address, url: addresses_path do |f| %>
		<%= f.label :"郵便番号(ハイフンなし)" %>
		<%= f.text_field :postal_code %>
	</div>

	<div>
		<%= f.label :"住所" %>
		<%= f.text_field :address %>
	</div>

	<div class="form-inline">
		<%= f.label :"宛名" %>
		<%= f.text_field :address_name %>
		<%= f.submit "登録する", class: "btn btn-success" %>
		<% end %>
		<% end %>
	</div>