<h1>注文履歴詳細</h1>
    <h2>注文情報</h2>
	<tbody>
			<tr>
				<td>注文日</td>
				<td><%= @order.create_at %></td>
			</tr>

            <tr>
                <td>配送先</td>
                <td><%= @order.postal_code %><br>
                    <%= @order.address %></td></td>
            </tr>

            <tr>
                <td>支払方法</td>
                <td><% if @order.payment_method == true %>
                        <h4>銀行振込</h4>
                    <% else %>
                        <h4>クレジットカード</h4>
                    <% end %></td>
            </tr>

            <tr>
                <td>ステータス</td>
                <td><%= @order.status_i18n %></td>
            </tr>

    </tbody>

　　<h2>請求情報</h2>
    <tbody>
    		<tr>
    			<td>商品合計</td>
                <td><%= total_price(@cart_item) %></td>
    		</tr>

            <tr>
                <td>配送料</td>
                <td><%= @order.postage %>
            </tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>ご請求額</td>
                <td><%= @order.billing_amount %></td>
    		</tr>
    	</tbody>
    </table>

    <h2>注文内容</h2>
    <table>
    	<thead>
    		<tr>
    			<th>商品</th>
    			<th>単価(税込)</th>
    			<th>個数</th>
    			<th>小計</th>
    		</tr>
    	</thead>
    	<tbody>
            <% @.each do |cart| %>
                <tr>
    		<tr>
    			<td><%= @order.item.name %></td>
                <td></td>
                <td></td>
                <td></td>
    		</tr>
    	</tbody>
    </table>