<h1>注文履歴詳細</h1>
    <h2>注文情報</h2>
	<table>
		<thead>
			<tr>
				<th>注文日</th>
				<th>配送先</th>
				<th>支払方法</th>
				<th>ステータス</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><%= @order.create_at %></td>
                <td><%= @order.postal_code %><br>
                    <%= @order.address %></td>
                <td><% if @order.payment_method == true %>
                        <h4>銀行振込</h4>
                    <% else %>
                        <h4>クレジットカード</h4>
                    <% end %>
                </td>
                <td><%= @order.status %></td>
			</tr>
		</tbody>
	</table>

　　<h2>請求情報</h2>
    <table>
    	<thead>
    		<tr>
    			<th>商品合計</th>
    			<th>配送料</th>
    			<th>ご請求金額</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td><%= @item.total_payment %></td>
                <td><%= @item.shipping_cost %></td>
                <td><%= </td>
    		</tr>
    	</tbody>
    </table>

    <h2>注文内容</h2>
    <table>
    	<thead>
    		<tr>
    			<th>商品</th>
    			<th>単価(税込)</th>
    			<th>個数</th>
    			<th>小計</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td></td>
                <td></td>
                <td></td>
                <td></td>
    		</tr>
    	</tbody>
    </table>