<% provide(:title, "注文履歴詳細") %>
<h1>注文履歴詳細</h1>
  <div class="row">
    <div class="col-xs-7">
    <h2>注文情報</h2>
    <table class="table table-bordered">
       <tbody>
         <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>

        <tr>
            <td>配送先</td>
            <td><%= @order.postal_code %><br>
                <%= @order.address %></td></td>
        </tr>

      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method_i18n %>
        </tr>

        <tr>
          <td>ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>

          </tbody>
    </table>
    </div>
    <div class="col-xs-4">
        <h2>請求情報</h2>
          <table class="table table-bordered">
          <tbody>
            <tr>
             <td>商品合計</td>
             <td><%= @order.billing_amount - @order.postage %>円</td>
           </tr>

           <tr>
            <td>配送料</td>
            <td><%= @order.postage %>円</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
             <td>ご請求額</td>
             <td><%= @order.billing_amount %>円</td>
           </tr>
         </tbody>
       </table>
     </div>
  </div>

       <h2>注文内容</h2>
       <table class="table table-bordered">
         <thead>
          <tr>
           <th>商品</th>
           <th>単価(税込)</th>
           <th>個数</th>
           <th>小計</th>
         </tr>
       </thead>
       <tbody>
        <% @order_details.each do |order_detail| %>
        <tr>
         <td><%= order_detail.item.name %></td>
         <td><%= tax_price(order_detail.item.price) %>円</td>
         <td><%= order_detail.amount %></td>
         <td><%= sub_total(order_detail) %>円</td>
        </tr>
       <% end %>
       </tbody>
       </table>
