<% provide(:title, "会員詳細") %>

<h2><%= full_name(@customer) %>さんの会員詳細</h2>

<div class="col-xs-7">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td class="col-xs-3">顧客ID</td>
        <td>
          <%= @customer.id %>
          <% if @customer.is_deleted == true %>
          <span class="badge badge-danger">退会済</span>
          <% else %>
          <span class="badge badge-success">有効会員</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="col-xs-3">氏名</td>
        <td><%= full_name(@customer) %></td>
      </tr>
      <tr>
        <td class="col-xs-3">フリガナ</td>
        <td><%= full_name_kana(@customer) %></td>
      </tr>
      <tr>
        <td class="col-xs-3">郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="col-xs-3">住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="col-xs-3">電話番号</td>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <td class="col-xs-3">メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-12">
  <div class=”actions”>
    <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-primary" %>
    <%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary" %>
  </div>
</div>
