<h1>注文履歴詳細</h1>
<table class="table">
	<tbody>
		<tr>
			<td>購入者</td>
			<td>
				<%= link_to admin_customer(@customer) do %>
							<%= @order.customer.last_name %><%= @order.customer.first_name %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>配送先</td>
			<td><%= @order.postal_code %> <%= @order.address %></td>
		</tr>
		<tr>
			<td>支払い方法</td>
			<td><%= @order.payment_method %></td>
		</tr>
		<tr>
			<td>注文ステータス</td>
			<td><%= form.select :status, Order.status.keys, :selected=>Order.status[@order.status] %>
<!-- 		<%= select :status,:name,Order.status.keys.to_a %> -->
				<%= f.submit '更新', class:"btn btn-primary" %>

			</td>
		</tr>
	</tbody>
</table>

<table>
	<thead>
		<tr class="active">
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @order_detail.item.name %></td>
			<td><%= @order_detail.price %></td>
			<td><%= @order_detail.amounnt %></td>
			<td><%= @order_detail_all %></td>

			<td><%= form.select :production_status, Order_detail.production_status.keys, :selected=>Order_detail.production_status[@order_detail.production_status] %>
				<%= f.submit '更新' class:"btn btn-primary" %>
			</td>
		</tr>
	</tbody>
</table>