<% provide(:title, "商品詳細") %>
<div class="row">
	<div class="col-xs-12 col-sm-2">
		<%= render 'layouts/genre_search', genres: @genres %>
	</div>
	<div class="col-xs-12 col-sm-10">
		<div class="col-xs-12 col-sm-6">
			<%= attachment_image_tag(@item,:image, :fill,400, 300) %>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2><strong><%= @item.name %></strong></h2>
			<p><%= @item.detail %></p>
			<p><strong><%= tax_price(@item.price) %>円</strong>(税込)</p>
		</div>

		<div class="form-group">
			<%= form_for(@cart_item, url: cart_items_path) do |f| %>
			<%= f.hidden_field :item_id, value: @item.id %>
			<div class="col-xs-2 col-sm-2">
				<%= f.select :amount, options_for_select(1..10), {}, {class: "form-control"} %>
			</div>
			<%= f.submit "カート内に入れる", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
