<h1>ジャンル編集</h1>

<%= form_for @genre, url: admin_genres_path do |g| %>
<div>
	<%= g.label :"ジャンル" %>
	<%= g.text_field :"name" %>
</div>

<div>
	<%= form_with(model: @genre, url: admin_genres_path, local: true) do |form| %>
	<%= form.radio_button :is_active, :true %>
	<%= form.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
	<%= form.radio_button :gender, :female %>
	<%= form.label :is_active, "無効", {value: :false, style: "display: inline-block;"} %>
	<% end %>
</div>

<div class="actions">
	<%= g.submit :"変更を保存する", class: "btn btn-primary" %>
</div>
<% end %>