<% provide(:title, "ジャンル編集") %>

<div class="container">
	<div class="row">
		<div>
			<h1>ジャンル編集</h1>

			<%= form_for @genre, url: admin_genre_path, class: "form-inline" do |f| %>
			<% if @genre.errors.any? %>
			<div id="error_explanation">
				<h3><%= @genre.errors.count %>件のエラーが発生しました</h3>
				<ul>
					<% @genre.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
				<% end %>

				<%= f.label :"ジャンル" %>
				<%= f.text_field :name %>

				<%= f.radio_button :is_active, :true %>
				<%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
				<%= f.radio_button :is_active, :false %>
				<%= f.label :is_active, "無効", {value: :false, style: "display: inline-block;"} %>

				<%= f.submit :"変更を保存する", class: "btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</div>