<div class="container">
	<div class="row">
		<div>
			<h1>ジャンル一覧・追加</h1>

			<%= form_for @genre, url: admin_genres_path, class: "form-inline" do |f| %>
			<% if @genre.errors.any? %>
			<div id="error_explanation">
				<h3><%= @genre.errors.count %>件のエラーが発生しました</h3>
				<ul>
					<% @genre.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
				<% end %>

				<%= f.label :"ジャンル" %>
				<%= f.text_field :name %>

				<%= f.radio_button :is_active, :true %>
				<%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
				<%= f.radio_button :is_active, :false %>
				<%= f.label :is_active, "無効", {value: :false, style: "display: inline-block;"} %>

				<%= f.submit "追加", class: "btn btn-success" %>
				<% end %>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">ジャンル</th>
					<th scope="col">状態</th>
				</tr>
			</thead>

			<tbody>
				<% @genres.each do |genre| %>
				<tr>
					<td scope="row">
						<%= genre.name %>
					</td>

					<td scope="row">
						<%= genre.is_active %>
					</td>

					<td scope="row">
						<%= link_to "編集する", edit_admin_genre_path(genre), class: "btn-sm btn-primary edit_admin_genre_#{genre.id}" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>