<% provide(:title, "管理者ログイン") %>
<div class="container">
  <div class="row">
    <h2>管理者ログイン</h2>

    <%= render "admins/shared/error_messages", resource: resource %>

    <div id="error_explanation">
      <%= flash[:alert] %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group row">
      <%= f.label :"メールアドレス", class: "col-xs-4 col-sm-2" %>
      <div class="col-xs-5 col-sm-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
      </div>
      admin@gmail.com
    </div>

    <div class="form-group row">
      <%= f.label :"パスワード", class: "col-xs-4 col-sm-2" %>
      <div class="col-xs-5 col-sm-3">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-control" %>
      </div>
      password
    </div>

    <div class="actions col-xs-offset-6 col-md-offset-4">
      <%= f.submit "ログイン", class:"btn btn-lg btn-primary" %>
    </div>
    <% end %>
  </div>

</div>
