<h3>会員の方はこちらからログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
=======
  <div class="field form-group">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form-group">
    <%= f.label :"パスワード" %>
>>>>>>> 1efff90ddf9aa67279062e74df4bc6a2ee905c18
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="pull-right">
    <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name), class: "btn-link" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>登録がお済みでない方</h3>
<<<<<<< HEAD
<p><%= render "customers/shared/links" %>から新規登録を行ってください。</p>
=======
<p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
>>>>>>> 1efff90ddf9aa67279062e74df4bc6a2ee905c18

