<table class="table">
  <thead>
    <tr>
      <th class="h3">ジャンル検索</th>
    </tr>
  </thead>

  <tbody>
    <% genres.each do |genre| %>
    <%= form_tag(search_path, method: :get) do %>
    　<% %>
    <%= hidden_field_tag 'search[model]', 'genre' %>
    <%= hidden_field_tag 'search[content]', genre.name %>
    <%= hidden_field_tag 'search[method]', '' %>
    <tr>
      <td>
        <%= submit_tag genre.name, class: "btn-link" %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<div class="text-center"><%= paginate(genres) %></div>