<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </head>
<body>
  <%= render 'layouts/header' %>

  <%= render 'layouts/search' %>
  <!-- レイアウト見にくいのでとりあえず下記追加 -->
  <div class="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
  <footer class="fixed-bottom">
    <div class="container">
      <li class="btn"><%= link_to "管理者ログイン", new_admin_session_path %></li>
      <p class="pull-right">© All rights reserved by YASU Company</p>
    </div>
  </footer>
</body>
</html>
